on:
  push:

jobs:
  deploy:
    strategy:
      fail-fast: false
      matrix:
        file: [my.jar]

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - run: |
        mvn deploy:deploy-file -DgroupId=group-id \
          -DartifactId=artifact-id \
          -Dversion=1.0.0-${{ matrix.file }}-g${{ github.sha }} \
          -Dpackaging=jar \
          -Dfile=${{ matrix.file }} \
          -DrepositoryId=github \
          -Durl=https://maven.pkg.github.com/${{ github.repository }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
